
<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <% for(let i of newListItems){ %>

            <form action="/delete" method="post">

                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= i._id %>" onchange="this.form.submit()">
                        <p>
                            <%= i.name %>
                        </p>
                    </div>

            </form>

            <%}%>

            <form class="item" action="/" method="post">
                <input type="text" name="newInput" id="" placeholder="New Task" autocomplete="off" required >
        
                <button type="submit" name="list" value="<%=listTitle%>">+</button>
        
            </form>

    </div>
 
    <%- include("footer") -%>
